
<!DOCTYPE html>
<html lang="en">



<body>
  <div class='container-fluid'>
    <h1 class='text-center'>Forepast Weather Report</h1>
  <h2 class='text-center'>Bringing weather of the past to your present!</h2>
  <h3 class='text-center'>Enter date within last 5 years to see the forecast for selected date.</h3>
 <br>

<form class="row g-3" action="/showmeweather" method="GET">

  <div class="col-auto">
    <label for="date" class="visually-hidden">Date</label>
    <input type="text" name="date" class="form-control" id="date" placeholder="YYYY/MM/DD" pattern="[0-9]{4}.(0[1-9]|1[012]).(0[1-9]|1[0-9]|2[0-9]|3[01])" required>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Get Info</button>
  </div>
</form>


</div>

</body>

</html>



